<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dpi300.aswinnagarajan.kuruksastra2k18">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.dpi300.aswinnagarajan.kuruksastra2k18.EventsActivity"
            android:label="@string/title_activity_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dpi300.aswinnagarajan.kuruksastra2k18.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:parentActivityName="com.dpi300.aswinnagarajan.kuruksastra2k18.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dpi300.aswinnagarajan.kuruksastra2k18.ProShowActivity"
            android:label="@string/title_activity_pro_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dpi300.aswinnagarajan.kuruksastra2k18.ParticipantLogin"
            android:label="@string/title_activity_participant_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpi300.aswinnagarajan.kuruksastra2k18.LogIn"
            android:label="@string/title_activity_log_in"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AboutKS.AboutKSActivity"
            android:label="AboutKSActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AboutActivity" />
        <activity
            android:name=".AboutKS.DetailActivity"
            android:parentActivityName=".AboutKS.AboutKSActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AboutActivity" />
        <activity
            android:name=".AboutUs_Activity"
            android:label="@string/title_activity_about_us_"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sponsors"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUs_main_Activity"
            android:label="@string/title_activity_about_us_main_"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".EventDescriptionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
    </application>

</manifest>